# PA1 Connor Goodman 8/30/21 Fall Semester

In [2]:
num1 = float(input("Enter a floating point number: "))

Enter a floating point number: 44.3

In [5]:
num2 = int(input("Enter an integer: "))

Enter an integer: 16

In [6]:
sum = num1+num2

print("The Sum is: ", sum)

The Sum is:  60.3

In [19]:
difference = num1-num2

print("The Difference is: ", difference)

The Difference is:  28.299999999999997

In [8]:
product = num1*num2

print("The product is: ", product)

The product is:  708.8

In [7]:
quotient = num1/num2

print("The quotient is: ", quotient)

The quotient is:  2.76875

In [9]:
print('The type for the result is', type(num1))

The type for the result is <class 'float'>